

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
}
#accountInfo {
	box-shadow: inset 0 0 0 1000px rgba(0,90,139,.7);
	padding-top: 50px;
	padding-left: 40px;
	border-radius: 5px;
	color: white;
	margin-top: 40px;
}

#signUpForm {
	background-image: url("../img/stethoscope-laptop.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.9);

}

.teal-text {
	color: #005a8b !important;
}

.column-padding {
	padding: 30px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-left {
	padding-left: 70px;
}

.white-text {
	color: white !important;
}



.btn-teal {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#6097b4 0,#005a8b 100%);
    background-image: -o-linear-gradient(top,#6097b4 0,#005a8b 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#6097b4),to(#005a8b));
    background-image: linear-gradient(to bottom,#6097b4 0,#005a8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    border-radius: 0px !important;
}

.btn-teal {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.btn-teal {
    color: #fff;
    background-color: #000;
    border-color: #ccc;
}

.btn-teal:hover, .btn-teal:focus {
    background-color: #005a8b;
    background-position: 0 -15px;
}

.btn-teal:hover, .btn-teal:active, .btn-teal.active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #005a8b;
    border-color: #adadad;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}







